﻿@model IPZLibrary.BusinessLogic.ViewModels.IndexHomeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var book in Model.Books)
    {
        <div class="col-md-4" style="border:1px solid black; height: 400px ">
            <img src="~/Content/Image/book.png" alt="book" class="img-responsive">
            <p class="text-center">
                @book.Author "@book.Name" (@book.YearOfWriting)
            </p>

            <p>@Html.ActionLink("Read more >>", "GetBook", new { controller = "Book",id = book.Id }, new { @class = "btn btn-default" })</p>

        </div>
    }


</div>

