﻿@model IPZLibrary.BusinessLogic.ViewModels.Book.GetBookBookViewModel

@{
    ViewBag.Title = "Book";
}
<div class="container">
    <div class="panel">
        <div class="panel-title">
            <p class="text-center">"@Model.Name" @Model.Author </p>
        </div>
        <div class="panel-body">
            @Html.LabelFor(x => x.Genre) : @Model.Genre <br />
            @Html.LabelFor(x => x.Edition) : @Model.Edition<br />
            @Html.LabelFor(x => x.PageCount) : @Model.PageCount<br />
            @Html.LabelFor(x => x.YearOfPublishig) : @Model.YearOfPublishig<br />
            @Html.LabelFor(x => x.YearOfWriting) : @Model.YearOfWriting<br />
            @Html.LabelFor(x => x.Description) : @Model.Description<br />
        </div>
    </div>
</div>


