﻿

@{
    ViewBag.Title = "Index";
}

<h1>IPZ Project - Library</h1>
<h4>Welcome to our library!</h4>
<p>Here you will find a large selection of:</p>
<ul>
    <li>@Html.ActionLink("Каталог", "GetAll", new { controller = "Book"})</li>
</ul>
<p>Here you can:</p>
<ul>
    <li><strong>Check in stock</strong> a book</li>
    <li><strong>Order</strong> your book</li>
</ul>